/* 
    General Styles
*/

.brandName{
    font-size: 32px;
    padding: 0px 30px;
    color: black;
}

ul {
    list-style: none; /* Remove the default bullet points */
    text-align: center; /* Center the list items horizontally */
  }
  
  li {
    display: inline-block; /* Display the list items as inline blocks */
    width: 150px;
    margin-right: 10px; /* Add some space between the items */
  }